{% extends 'base.html' %}

{% block content %}
<main>
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>change password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
    <main class="container">
        <section class="row justify-content-center">
            <form class="row contact_form" action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                  {% for message in messages %}
              
                                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                      {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                  {% endfor %}
                  <div class="col-md-12 form-group p_star">
                    <input type="password" class="form-control" id="old password" name="old_password"  placeholder= "old password"   required >
                    
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="password" class="form-control" id="new password" name="newpassword" placeholder= "new password" required >
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="password" class="form-control" id="confirm password" name="confirmpassword" placeholder= "confirm password"  required>
                    <br>
                    <br>
    
                  <button type="submit" class="btn btn-light rounded font-sm mr-5 text-body hover-up">save</button>
            </form>
<style>
                body, html {
                    height: 100%;
                    margin: 0;
                }
            
                .container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
            
                .contact_form {
                    max-width: 600px; /* Adjust this value to set the desired form width */
                    padding: 20px;
                    background-color: #f8f8f8;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
            </style>
          </section>
        </main>
{% endblock content %} 