{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    My Wallet
                </div>
                <div class="card-body">
                    <h5 class="card-title">Balance: {{wallet.amount}}</h5>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock content %}