{% extends 'dashboard/adminbase.html' %}
{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">offer list</h2>
            <br>
            <a href={% url 'add_offer' %} class="btn btn-md rounded font-sm">create offer</a>
            
        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col"> Name</th>
                            <th scope="col">off_percent</th>
                            <th scope="col">start_date</th>
                            <th scope="col">end_date</th>
                            <th scope="col"class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in offer %}
                        <tr>
                            <td>{{c.id}}</td>
                            <td><b>{{c.name}}</b></td>
                            <td><b>{{c.off_percent}}</b></td>
                            <td><b>{{c.start_date}}</b></td>
                            <td>{{c.end_date}}</td>
                            <td class="text-end">
                                    <a href="{% url 'delete_offer' c.id %}" class="btn btn-md rounded font-sm">delete</a>
                                           
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
</section>
{% endblock content%}