{% extends 'base.html' %}
{% block content%}
<style>
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-btn {
      background-color: #261919;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #c6b6b6;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgb(10 234 137 / 54%);
      z-index: 1;
    }
    .dropdown-content1 {
      
      border-radius: 3px;
      background-color:#e9ecef;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(205, 218, 212, 0.54);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #331e1e;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .custom-select-label{
        background-color: #261919;
        font-style: normal;
        color: aliceblue;
        padding: 2px;
    }
    </style>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Green bags</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row product-btn justify-content-between mb-40">
                <div class="dropdown">
                    <button class="dropdown-btn">
                        <span>Sort By</span>
                        <span class="arrow"></span>
                    </button>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'product_display' %}?sort=latest-product">latest product</a></li>
                        {% comment %} <li><a href="{% url 'product_display' %}?sort=low_to_high">Price low to high</a></li> {% endcomment %}
                    </ul>
                </div>
                <br>
                <div class="custom-select-container">
                    <form action="#" method="get">
                        <label for="select1" class="custom-select-label">Category:</label>
                        <select class="dropdown-content1" name="category" id="select1">
                            <option>Select a category</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.cateogary_name }}</option>
                            {% endfor %}
                        </select>
                        <div> </div>
                        <label for="select2" class="custom-select-label">Brand:</label>
                        <select name="brand" class="dropdown-content1" id="select2">
                            <option value="">Select a Brand</option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="Search" name="search_query">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" style="font-size: 12px; padding: 5px 10px;">Search</button>
                            </div>
                        </div> 
                        <br>
                        <button class="dropdown-btn" type="submit">Filter</button>
                    </form>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                    {% for i in  products %}

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    {% if i.offerr %}{% endif %}
                                    <img src="{{ i.image1.url }}"alt="">
                                    <div class="img-cap">
                                        <span><a href="{%url 'single_view' product_id=i.id %}">VIEW</span></a>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3>{{ i.product_name }}</h3>
                                    <span>{{i.brand.brand_name}}</span>
                                    <span>{{ i.description }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                   
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>
{% endblock content %}