{% extends 'base.html' %}
{% block content%}
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% comment %} <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> {% endcomment %}
{% comment %} <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  {% endcomment %}

{% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> {% endcomment %}

<!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">

            <div class="tab-pane active zoom-image-hover" id="pic-1">

              <img src="{{ products.image1.url }}" />
            </div>
            <div class="tab-pane zoom-image-hover" id="pic-2"><img src="{{ products.image2.url }}" /></div>
            <div class="tab-pane zoom-image-hover" id="pic-3"><img src="{{ products.image3.url }}" /></div>
            <div class="tab-pane zoom-image-hover" id="pic-4"><img src="{{ products.image4.url }}" /></div>

          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ products.image1.url }}" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="{{ products.image2.url }}" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="{{ products.image3.url }}" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src="{{ products.image4.url }}" /></a></li>

          </ul>

        </div>
                    
					<div class="details col-md-6">
      <form method="GET"action="{%url 'add_cart'%} ">
          {% csrf_token %}
						<h3 class="product-title">{{products.product_name}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">{{products.description }}</p>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            {% if products.offerr and products.offerr.name != "none" %}
              <span>{{ products.offerr.off_percent }}% offer</span>
            {% elif products.cateogary.offerr and products.cateogary.offerr.name != "none" %}
              <span>{{ products.cateogary.offerr.off_percent }}% offer</span>
            {% endif %}
						<div class="action">
            <br>
            <br>
           
            {% comment %} <select class="form-select form-select-sm mb-2 col-3" name="variant_name" required onchange="updatePrice(this)">
              {% for variation in products.variation.all %}
             
                <option value="{{ variation.id }}" data-price="{{variation.price }}">{{variation.colour}}</option>
              
              {% endfor %}
            </select> {% endcomment %}
            <div class="select-container">
              <span class="select-label">Select Color:</span>
              <select class="form-select form-select-sm mb-2 col-3 select-dropdown" name="variant_name" required onchange="updatePrice(this)">
                  <option value="" disabled selected>SelectColor</option>
                  {% for variation in products.variation.all %}
                      {% if variation.product.offerr and variation.product.offerr.name != 'none' %}
                          <option value="{{ variation.id }}" data-price="{{ variation.sub_total_with_offer }}">{{ variation.colour }}</option>
                      {% elif variation.product.cateogary.offerr and variation.product.cateogary.offerr.name != 'none' %}
                          <option value="{{ variation.id }}" data-price="{{ variation.sub_total_with_offer_category }}">{{ variation.colour }}</option>
                      {% else %}
                          <option value="{{ variation.id }}" data-price="{{ variation.sub_total }}">{{ variation.colour }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
            </div>
            
            <br>
            <br>
            
            <div id="product-price">
              <h4 class="price">current price: <span></span></h4>
            </div>

           {% comment %} <h4 class="price">current price: <span id="product-price">{{products.variation.all.first.price }}</span></h4> 
						</div> {% endcomment %}
            <br>
            {% if products.variation.stock == 0 %}
            <button class="googles-cart pgoogles-cart bg-danger">
                Out of Stock
            </button>
            {% else %}
            <button type="submit" class="add-to-cart btn btn-default">Add to cart</button>
            {% endif %}
           <br>
           <br>
      </form>
                    <br>
                    <form method="post" action=>
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value=>
                        <button type="submit" class="add-to-cart btn btn-default">Add to Wishlist</button>
                  </form>
					</div>
				</div>
			</div>
		</div>
	</div>

    <style>

.select-container {
  display: flex;
  align-items: center;
    }
    
.select-label {
  margin-right: 10px; /* Adjust the spacing as needed */
  font-weight: bold; /* Make the label bold */
  }
    
.select-dropdown {
  width: 100%; /* Make the dropdown fill the container width */
    }


/******globals****/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
    </style>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js"></script> {% endcomment %}


{% comment %} <script src="static/user/assets/js/xzoom.js"></script>
<script>
  $(".zoom-image-hover").zoom();
</script> {% endcomment %}
<script>
  function updatePrice(selectElement) {
      const selectedOption = selectElement.options[selectElement.selectedIndex];
      const newPrice = selectedOption.getAttribute('data-price');
      document.getElementById('product-price').textContent = newPrice;
  }
  </script> 

  <script>
    function updatePrice(selectElement) {
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var price = selectedOption.getAttribute('data-price');
        document.querySelector("#product-price span").textContent = price;
    }
  
  </script>
    



<!-- Include jQuery and the Zoom library -->
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js"></script>

<!-- Initialize image zoom -->
<script>
    $(document).ready(function () {
        $(".zoom-image-hover").zoom();
    });
</script> {% endcomment %}

{% endblock content %}
















