{% extends 'dashboard/adminbase.html' %}
{% block content  %}
<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Add New cateogary</h2>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <form method="POST" action="{% url 'edit_cateogary' cate.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                                {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                        <div class="col-md-9">
                            <div class="mb-4">
                                
                                <label class="form-label">cateogary</label>
                                <input type="text" placeholder="{{cate.cateogary_name}}" class="form-control" name="cateogary" value="{{cate.cateogary_name}}" >
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="{{cate.discription}}" class="form-control" rows="4" name="description"value="{{cate.discription }}"></textarea>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <select class="form-select" name="offers" required>
                                        {% for i in offers %}
                                            <option value="{{ i.id }}" {% if cate.offerr.id == i.id %} selected {% endif %}>{{ i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" name="image" accept="image/*" value="{{cate.cateogary_image}}" >
                                </div>
                            </div>
                            <button type="submit" class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save</button>
                         </div>
                    </form> 
                    </div> <!-- row.// -->
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</section> <!-- content-main end// -->
</main>
{% endblock content %}